html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
display: flex;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-family:"Roboto Condensed","Roboto","Bebas Neue","arial", serif, cursive;
font-size: 15px;
line-height: 1.5;
background-color: #fff;
color: #000;

}

img{
max-width: 100%;
height: auto;

}

.container{
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
}

/* Site-heading */
.site-heading {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
  width: 1000px;

}
.apple-icon {
  width: 35px;
  height: 41px;

}
.sitenav {
  display: flex;
  align-items: center;

}
.sitenav-list {
display: flex;
align-items: center;

margin: 6px 0px;
margin-right: 40px;
list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 30px;
}
.sitenav-item {
}

.sitenav-link{
  font-family:"Roboto Condensed","Roboto","Bebas Neue","arial", serif, cursive;
  font-size: 15px;
  line-height: 1.5;
  line-height: 150%;
  color: #333333;
  text-decoration: none;

}
.search-form {



}
.search-form-text {
  width: 149px;
  height: 23px;
  text-align: center;
  color: #666666;
  font-family: "Roboto Condensed","Roboto","Bebas Neue","arial", serif, cursive;
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  margin: 0px;
  padding: 0px;
border: 0px;

}

 .hr-header{
  position: static;
  width: 153px;
  height: 0px;
    border: 1px solid #333333;
  /* transform: rotate(0.16deg); */
  margin: 6px 0px;
  background-color: #000;
}


/* Main */
.site-main {
}
.container {
}

.site-main-section{
  display: flex;
  justify-content: space-between;

}
.main-hero {
  display: flex;
  flex-direction: column;
align-content: space-between;
  align-items: flex-start;
  width: 490px;
  height: 291px;
  margin-top: 170px;

}
.main-hero-headding {
  width: 331px;
height: 60px;
font-family: "Roboto Condensed","Roboto","Bebas Neue","arial", serif, cursive;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 120%;
color: #000000;
margin: 30px 0px;
}

.main-hero-text {
  width: 450px;
height: 120px;
font-size: 16px;
line-height: 150%;
color: #777777;
margin: 0px ;
padding-left: 40px;
border-left: 3px solid #888888;
border-left:margin 40px;
border-color:#888;
}

 .main-button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  padding: 12px;
   width: 260px;
  height: 51px;
  background-color: #EA625C;
  margin: 30px 0px;
}
.main-button {
  width: 183px;
height: 27px;
font-style: normal;
font-weight: bold;
position: static;
font-size: 18px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
background-color:#EA625C;
color: #fff;
border:none;

margin: 30px 0px;
}
.watch-red {
  width: 390px;
height: 565px;
margin-top: 85px;
margin-right: -140px;
  background-image: url(../img/watch-red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.watch-red-img {
  width: 587px;
  margin-left: 245px;
  /* height: 565px; */
}

.hr{
  width: 1250px;
    border: 2px solid #DDDDDD;
    margin: 0px;
    padding: 0px;
    margin-left: -110px;
    color: #000;
    background-color: #000;
}

.main-card{
  display: flex;
  justify-content: space-between;
}

.horizantal-card:not(:last-child){
  margin-right: 80px;
}
.card-heading {
  width: 280px;
height: 27px;
font-weight: bold;
font-size: 18px;
line-height: 150%;
text-transform: uppercase;
color: #222222;
margin: 68px 0px 30px;
}

.card-text {
  width: 280px;
flex-grow: 1;
font-weight: normal;
font-size: 15px;
line-height: 160%;
color: #333333;
margin: 0px;
padding-bottom: 20px;
}

.card-footer-img {
}
.horizantal-card {
  width: 280px;
}
.card-link {
  width: 99px;
height: 26px;
font-weight: bold;
font-size: 16px;
line-height: 160%;
text-transform: uppercase;
text-decoration: none;
color: #EA625C;
padding-left: 40px;
margin: 0px 10px;
}

.card-link-line{
  background-image: url(../img/Line\ 3.svg);
  background-repeat: no-repeat;
  background-position: left center;
}


/* Main-middle */
.main-middle-heading{
  width: 380px;
  height: 180px;
  margin-top: 246px;


}

.main-middle-text{
  width: 450px;
  height: 96px;

}

.watch-in-hend{


}

.watch-in-hend-img{
  width: 400px;
  height: 600px;
  margin: 0;
  margin-top: 140px;
  margin-left: 110px;
}

.main-aside {

  width: 1250px;
  height: 830.19px;
  margin-top: 70px;
  background-image: url(../img/Mountain-climbing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-aside-box{
  width: 490px;
  padding-top: 240px;
  padding-left: 510px;

}

.main-footer-heading {
  width: 490px;
  height: 120px;
  color:#fff;
}

.main-footer-text {
  width: 450px;
  height: 120px;
  color: #fff;
  border-color: #fff;
}